@font-face{
  font-family:OpenDyslexic;
  src: url("../fonts/OpenDyslexicMono-Regular.otf");
}

body {
  font-family: OpenDyslexic;
  background-color: #151500;
  color: #c5a525;
  padding: 0px;
  margin: 0px;
}

.nav{
  background-color: #151500;
  color: #c5a525;
  text-decoration: none;
  padding-left: 5%;
}

a.nav:hover{
  color: #f5f595;
  /* text-decoration: underline; */
}
  

h1{
  background-color: #c5a525;
  color: #151500;
  text-align: right;
  padding-right: 5%;
  margin: 0px;

}

#logo{
  height: 51px;
  width: 51px;
  vertical-align: middle;
  margin: 10px;
}

#logo:hover{
  content: url("../images/glider.png");
}

h2{
  padding-left: 5%;
}

h3{
  margin-bottom: 0px;
  margin-left: -5%;
}

article{
  padding-left: 10%;
  padding-right: 10%;
}

article > a:link, 
article > a:visited,
article > p > a:link,
article > p > a:visited,
h3 > a:link,
h3 > a:visited,
article > details > p > a:link,
article > details > p > a:visited,
td > a:link,
td > a:visited,
#default{
  color: #c5a525;
}

article > ol {
  padding-left: 4em;
}

article > details > summary {
  margin-left: -5%;
  line-height: 1.15em;
  font-size: 200%;
}

table {
  border-collapse: separate;
  border-spacing: 4rem 0px;
}
.content {
  display: inline flex;
  justify-content: space-between
}

.content div {
  margin-right: 5%;
  flex: 1 1 30%;
}
