@font-face{
  font-family:OpenDyslexic;
  src: url("../fonts/OpenDyslexicMono-Regular.otf");
}

body {
  font-family: OpenDyslexic;
  background-color: #151500;
  color: #c5a525;
}

.nav{
  background-color: #151500;
  color: #c5a525;
  text-decoration: none;
  padding-left: 5%;
}

a.nav:hover{
  color: #f5f595;
  /* text-decoration: underline; */
}
  

h1{
  background-color: #c5a525;
  color: #151500;
  text-align: right;
  padding-right: 5%;
  
}

#logo{
  height: 51px;
  width: 51px;
  vertical-align: middle;
  margin: 10px;
}

#logo:hover{
  content: url("../images/glider.png");
}

h2{
  padding-left: 5%;
}

article{
  padding-left: 10%;
  padding-right: 10%;
}

article > a:link, 
article > a:visited,
article > p > a:link,
article > p > a:visited{
  color: #c5a525;
}

article > ol {
  padding-left: 4em;
}
