html{
  font-size: 20px;
}

body{
  background-color: #fcfff5;
  color: #253510;
  padding: 0;
  margin: 0;
  font-family: 'sans-serif';
}

header{
  background-color: #253510;
  color: #f5e550;
  padding: .75rem 3rem;
  margin-bottom: 1rem;
  border-bottom: .2rem solid #001500;
}

main{
  width: 75vw;
  margin-left: 15vw;
}

h1, h2, header{
  font-family: 'lintsecregular';
  text-align: center;
}

aside{
  vertical-align: top;
  float: right;
  width: 25vw;
  margin-left: 1rem;
  border-left: .1rem solid;
}


header a:any-link{
  text-decoration: none;
  color: #f5e550;
  padding: .25rem 1rem;
}

aside ul{
  font-family: 'lintsecregular';
  list-style: none;
  text-indent: 0;
  padding: .25rem;
}

aside li{
  font-family: 'sans-serif';
  padding: .75rem;

}
aside h2{
  padding-top: 0px;
  margin-top: 0px;
}

aside li li:nth-child(odd) {
  background-color: #c7cdbc;
}

@font-face {
    font-family: 'lintsecregular';
    src: url('/fonts/Lintsec-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

